body {
  margin:0;
  padding:0;
  font-family: Merriweather, Helvetica Neue, Arial, sans-serif;
  /* font-family: sans-serif, raleway; */
}

#map {
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  	z-index:1;
}

.intro {
    /* font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif; */
    color: black;
}

.fa{
  line-height: unset;
}
